# LSTM timestep comparison with RNN with complete past cell state memory

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense
from keras.layers import TimeDistributed
import tensorflow as tf
import keras
from keras import optimizers
from keras.callbacks import History
from keras.models import Model
from keras.layers import Dense, Dropout, LSTM, Input, Activation, concatenate


# data initialization
data = yf.download(tickers = ['AAPL'], start = '2013-03-11',end = '2023-07-10')
data.head(10)
print(data.shape)
data.head()

[*********************100%%**********************]  1 of 1 completed
(2600, 6)

                 Open       High        Low      Close  Adj Close     Volume
Date
2013-03-11  15.348214  15.678929  15.183571  15.638214  13.451863  474236000
2013-03-12  15.557143  15.674286  15.270357  15.301071  13.161856  465911600
2013-03-13  15.301786  15.517857  15.191429  15.298214  13.159396  405549200
2013-03-14  15.458214  15.522857  15.373214  15.446429  13.286891  303875600
2013-03-15  15.640357  15.865357  15.616071  15.845000  13.629739  643960800

In [ ]:
# defining prediction target
data['Target'] = data['Adj Close'].shift(-1)